html {
  font-family: "San Francisco", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 12pt;
}

.header {
  font-size: 24pt;
  margin-left: 10px;
  margin-top: 10px;
}

.header .status{
  margin-top: 10px;
  font-size: 16pt;
}

.myTube {
  margin: 25px auto auto auto;
  width: 90%;
  height: 100%;

}

.subscriptionBox {
  display: block;
  position: relative;
  margin: 20px auto 20px auto;

  width: 100%;
  height: 375px;
  overflow: scroll;
}

.subscriptionBox::-webkit-scrollbar { 
    display: none; 
}

.channelBox {
  display: block;
  position: relative;
  margin: 20px auto 20px auto;

  width: 100%;
  height: 375px;
  overflow: scroll;
}

.channelBox::-webkit-scrollbar { 
    display: none; 
}

.tile {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 12px;
  width: 196px;
  height: 175px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tile .picture img {
  width: 196px;
  height: 110px;
  cursor: pointer;
}

.tile .name {
  margin-left: 5px;
  font-weight: 400;
  font-size: 12pt;
  color: black;
  cursor: pointer;
}

.tile .author {
  margin-left: 5px;
  font-weight: 200;
  font-size: 8pt;
  color: skyblue;
  cursor: pointer;
}

.tile .info {
  margin-left: 5px;
  font-weight: 200;
  font-size: 8pt;
}

.title {
  position: relative;
  top: 5px;
  left: 5px;
  font-size: 16pt;
}

.app {
  position: relative;
}

.modalbg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1000;
  background-color: rgba(0,0,0,0.8);
}

.videoPlayer {
  z-index: 10;
  text-align: center;
}